<div align="justified" class="row abstract">
<h6 class="">
<p align="justify">
Project INVITE (social Identity and partNership in VIrTual Environments) is a
research project on the themes of multimedia, artificial intelligence and games
financed by the UTAustin-Portugal cooperation agreement (ref.
UTA-Est/MAI/0008/2009). It started on October 2010 and has duration of 36
months.
</p>

The aim of this project is to enhance the behaviour of autonomous characters with social identity awareness to play situations with different social groups, explore the role of social identity in partnerships and social dilemmas in mixed motive tasks (e.g snow-drift games).
<p></p>
Download <a href="/documents/INVITEmonofolha.pdf">Monosheet</a> for a brief project description. A poster can also be found at <a href="/documents/AMMASposter.png">AAMAS 2012 Poster</a>.  
<p></p> 
This project explores how social identity perceptions and partnerships with human or artificial autonomous agents unfold in virtual social dilemmas. 
<p></p> 
In the course of the project was developed a framework and a game, which can be found explained <a href="http://project-invite.eu/game">here</a>.
<p></p>
Before playing the game, each participant took personality tests, provided demographic information and rated their experience with digital technologies.The participants played the game with human or artificial collaborators without fully knowing who exactly they were playing with, and did so in conditions that affected social identification with one's team (i.e., using avatars wearing the participants' University color or not). 
<p></p>
After playing the game, participants provided information about the experience.In-game behaviors were also measured.
<p></p> 
</h6>
</div>

<br></br>

<h4>The Latest News:</h4>

<div align="justified" class="row">


  <div class="news c3 column" width="100%">
	    <h4>Seventh Project Meeting</h4>
	    <p>The 7th project meeting Will take place in Austin.</p>
	    <p></p>
	    <p></p>
	    <a href="http://project-invite.eu/news#Seventh Project Meeting">Read More</a>	

  </div>

 <div class="news c3 column" width="100%">
	    <h4>Project INVITE</h4>
	    <p>Testing usability and observing virtual social dynamics.</p>
	    <p></p>
	    <p></p>
	    <a href="http://project-invite.eu/news#Project INVITE">Read More</a>

  </div>

  <div class="news c3 column" width="100%">
	    <h4>CogSci</h4>
	    <p>INVITE was accepted to appear in Proceedings of the CogSci 2013 in Portugal.</p>
	    <p></p>
	    <p></p>
	    <a href="http://project-invite.eu/news#CogSci">Read More</a>	

  </div>

</div>

