<div align="justified" class="row abstract">
  <h6 class="">
    The aim of the INVITE project is to enhance the behaviour of autonomous characters with social identity awareness to play situations with different social groups. Explore the role of social identity in partnerships and social dilemmas in mixed motive tasks (e.g snow-drift games).
  </h6>
</div>

<div align="justified" class="row">
  <div class="news c3 column" width="100%">
	    <h4>Game Release (June Version)</h4>
	    <p>A new game version has been released (see Game and Guides menu). </p>
	    <p></p>
	    <p></p>
	    <a href="news">Read More</a>	
		
  </div>
  <div class="news c3 column" width="100%">
	    <h4>Fifth Project Meeting</h4>
	    <p>The 5th project meeting took place in Austin in the USA.</p>
	    <p></p>
	    <p></p>
	    <a href="news">Read More</a>	
		
  </div>
  
  
  <div class="news c3 column" width="100%">
	    <h4>Papers Accepted</h4>
	    <p>Among others, a research paper was accepted for publishing in conference AAMAS2012.</p>
	    <p></p>
	    <a href="news">Read More</a>	
		
  </div>
  
</div>

