<div align="justified" class="row abstract">
  <h6 class="">
    The aim of the INVITE project is to enhance the behaviour of autonomous characters with social identity awareness to play situations with different social groups. Explore the role of social identity in partnerships and social dilemmas in mixed motive tasks (e.g snow-drift games).
  </h6>
</div>

<div align="justified" class="row">
 <div class="news c3 column" width="100%">
	    <h4>AAMAS2013</h4>
	    <p>Two extended abstracts were accepted in AAMAS2013.</p>
	    <p></p>
	    <p></p>
	    <a href="http://project-invite.eu/news#AAMAS2013">Read More</a>	

  </div>

  <div class="news c3 column" width="100%">
	    <h4>Futureplaces</h4>
	    <p>INVITE was presented in Futureplaces 2012 in Portugal.</p>
	    <p></p>
	    <p></p>
	    <a href="http://project-invite.eu/news#Futureplaces">Read More</a>	

  </div>

  <div class="news c3 column" width="100%">
	    <h4>Sixth Project Meeting</h4>
	    <p>The 6th project meeting took place in Oeiras in Portugal.</p>
	    <p></p>
	    <p></p>
	    <a href="http://project-invite.eu/news#Sixth Project Meeting">Read More</a>	

  </div>
</div>

