<div align="justified" class="row abstract">
  <h6 class="">
    The aim of the INVITE project is to enhance the behaviour of autonomous characters with social identity awareness to play situations with different social groups. Explore the role of social identity in partnerships and social dilemmas in mixed motive tasks (e.g snow-drift games).
  </h6>
</div>

<div align="justified" class="row">
  <div class="news c3 column">
	    <h4>Fourth Project Meeting</h4>
	    <p>The fourth project meeting took place in Austin in the USA.</p>
	    <p></p>
	    <p></p>
	    <a href="news">Read More</a>	
		
  </div>
  <div class="news c3 column">
	    <h4>Articles Accepted</h4>
	    <p>Among others, a research article was accepted for publishing in conference AAMAS2012.</p>
	    <p></p>
	    <p></p>
	    <a href="news">Read More</a>	
		
  </div>
  <div class="news c3 column">
    <h4>Third Project Meeting</h4>
    <p>The third project meeting took place in Oeiras at IST-Taguspark. The discussion was centered in the design of the first game scenario.</p>
    <p></p>
    <a href="news">Read More</a>	
  </div>
</div>

